@{
    ViewBag.Title = "About";
}

<h1 style="text-align: center; font-family: sans-serif; font-weight: bolder;">Detail Grid</h1>
<div id="DetailGrid">
</div>



<script src="~/Scripts/libs/PersonalDataGrid.js"></script>
